/* ReactRouter.css */
.router-container {
  max-width: 1200px; /* Limit the content width */
  margin: 0 auto; /* Center the content */
}

.router-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333; /* Dark color for the heading */
}

.router-container p {
  font-size: 1.2rem;
  color: #555; /* Light gray color for the text */
  line-height: 1.6; /* Increase line height for readability */
  margin-bottom: 20px; /* Space between paragraphs */
}
